*,*::before,*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.input,
.inComplete,
.complete{
  width: 500px;
  margin: 0 auto;
  padding: 20px 30px;
}

button{
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  background-color: #bd88be;
}

button:hover{
  background-color: #b667b8;
}

h1{
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 20px;
}

li {
  list-style-type: none;
}
